.formDiv{

    height: auto;
     background-color: rgba(230, 230, 230, 0.8);
     /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.titleContact{
    background-image: url(https://www.tmctrans.com/webres/Image/drive-for-tmc-assets/Banners/NewToTrucking_Banner.jpg);
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    color:hsl(0, 0%, 62%);
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
  }
  .divContact::after{
    top: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-top-color: #fff;
    border-width: 30px;
    margin-left: -30px;
 
  }

  .divOverCont{
      height: 320px;
      width: 100%;
     background-color: #00c0e2;
     padding-top: 93px;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
  }
  .divOverContMiddle{
    background-color: #131731;
    height: 320px;
    width: 100%;
    padding-top: 73px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.logoWiderInc{
  padding-top: 30px;
}
  .AboutDivGlassContact{
    top:0;
    left: 0;
    height: 440px;
    background-color:rgba(0,0,0,0.6);
    position: relative;
    color:rgba(221, 221, 221, 0.8);
    letter-spacing: 3px;
    padding-top: 175px;
  }
  .infoHeder{
      color:white;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
  }
  .formInput{
    width:60%;
    height: 45px;
    background-color: rgba(235, 236, 236, 0.349);
  }
  .formTitle{
      padding:30px;
      font-size: 23px;
      font-family: 'PT Sans', sans-serif;
      color: rgb(14, 13, 13);
      font-weight: 500;
      width:70%;
     margin:0 auto;
  }
 .formTitleNum{
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
 }
input[type=text],input[type=email], select {
  font-family: 'Open Sans Condensed', sans-serif;
    width: 60%;
    padding: 1% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .contactInfoColor{
      color:#f8f6f6;
      font-weight: 700;
  }
  .ContactFormButton{
    color: rgba(247, 242, 242, 0.911) ;
    text-transform: uppercase;
    text-decoration: none;
    background: #7c7e7c5b;
    padding: 14px 26px;
    display: inline-block;
    border: none;
    margin-bottom: 35px;
    background:#202020;
  }
  /* .ContactFormButton:hover {
    background:#09c228;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px #09c228;
    -moz-box-shadow: 0px 5px 40px -10px #09c228;
    box-shadow: 5px 40px -10px #09c228;
    transition: all 0.4s ease 0s;
  } */
  .formDiv{
      margin-bottom: 180px;
      margin-top: 120px;
  }
  .contactPadding.col-lg-5.col-md-5.col-sm-12.col-12{
    padding-right: 0;
    padding-left: 0;
}
.contactPadding1.col-lg-2.col-md-2.col-sm-12.col-12{
    padding-right: 0;
    padding-left: 0;
  
}
.divOverCont i{
    font-size: 45px;
    color:white;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.divOverContMiddle i{
    color:  #df1f26;
}
.operationManager{
    padding-bottom: 16px;
}
.divContact{
    padding-bottom: 21px;
    color: white;
    letter-spacing: 2px;
   
}
.contactInfo{
  margin-top: 120px;
}
.contactInfoItems{
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  border-left: 5px solid #0a0a0a;
  padding-left: 10px;
  background-color: rgba(230, 230, 230, 0.8);
  margin-bottom: 62px;
}
.contactTitle{
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
  border-bottom: 2px solid rgb(206, 206, 206);
}
@media screen and (max-width: 1250px) {
  .formTitle{
    font-size: 23px;
  }
}
@media screen and (max-width: 1200px) {
  .formTitle{
    font-size: 26px;
  }
}
@media screen and (max-width: 990px) {
  .formTitle{
    font-size: 24px;
  }
}
@media screen and (max-width: 1330px) {
.logoWiderInc{
  padding-top: 30px;
 width: 70%;
}
}
.allItemsInfo{
  padding: 19px;
  height: 100%;
}
i.fas.fa-envelope, i.fas.fa-phone-square-alt,i.fas.fa-fax,i.fas.fa-mobile-alt{
  color:red;
}
i.fas.fa-mobile-alt{
  font-size: 25px;
}
.itemsInfo{
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}
.contactContent{
    padding-left: 20px;
    padding-right: 20px;
}
.ManagerMail{
    font-size: 12px;
}
@media screen and (max-width: 760px){
  .aboutContainer{
    padding-top:50px;
  }
  .AboutDivGlassContact{
    padding-top: 50px;
  }
}